{{!-- 
    Partial list Article
    :listArticle
--}}

<div class="flx">
    {{#each dbArticle }}
    <div class="itm">
        <a href="/article/{{ _id }}">
            <h3>Titre: {{ title }}</h3>
        </a>
        <p>author: {{ author }}</p>
        <p>authorID: {{ authorID }}</p>
        <form action="/article/{{ this.id }}/?_method=DELETE" method="post">
            <button type="submit">Effacer</button>
        </form>
    </div>
    {{/each }}
</div>