{{!-- 
    Partial liste de commentaire
    :listComment
--}}

<div class="itm">

    <h2><u>Liste des commentaire</u></h2>

    {{!-- Ici nous listons les commentaires en référence avec l'ID de notre Article --}}
    <div class="flx">
        {{#each comment }}

        <div class="itm" style='border: solid 2px lime'>

            {{!-- Ici nous récupérons les informations de notre commentaire --}}
            <h3>ajouter par: {{ author }}</h3>
            <p>Content: {{ content }}</p>
            <p>{{ articleID }}</p>

            {{!-- Ici le boutton de suppression du commentaire --}}
            <form action="/comment/{{ this.id }}/?_method=DELETE" method="post">
                <button type="submit">Effacer</button>
            </form>

            <p>{{ created }}</p>

        </div>

        {{/each }}
    </div>

</div>